
/*

>> Color scheme
	lightcyan #a8e1d5
	cyan #6dc1c4
	darkcyan #3a9396
	darkgrey #222222
	grey #666666
	lightgrey #d6dadc

*/

#content, #playerContainer {
	width: 100%;
	max-width: initial;
	min-width: initial;
}

#playerContainer {
	height: 100%;
	max-height: 288px;
	box-shadow: 0 0 25vh 0 black;
}

#content {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

#playerImage, #computerImage {
	max-width: 50%;
	min-width: initial;
	height: auto;
	box-shadow: 0 0 10px 0 black;
}

#gameOverBox {
	display: none;
	width: 100%;
	height: 100%;
	background-color: #0000007a;
	position: relative;
}

#gameOverText {
	text-align: center;
	text-shadow: 0 0 40px #6dc1c4;
}

#buttonActions {
	display: none;
}

button {
	/* background-color: rgba(34, 34, 34, 0.5); */
	background-color: transparent;
	color: #d6dadc;
	border: none;
	border-bottom: 4px solid #a8e1d5;
	padding: 8px;
	font-family: Courier New, Courier, monospace;
	font-size: 120%;
	font-weight: 600;
	overflow: hidden;
}

button:hover {
	color: #a8e1d5;
	border-bottom: 4px solid #6dc1c4;
}

button:disabled {
	color: #666666;
	border-bottom: 4px dotted #666666;
}

#buttonStart {
	font-size: 200%;
}

#gameOverText {
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 6px;
}

#buttonActions {
	width: 100%;
	height: 40px;
}

.action-btn {
	width: 30%;
	max-width: 96px;
	box-sizing: border-box;
}

#buttonShotgun {
	color: #fadc8b;
	border-bottom: 4px solid #fadc8b;
}

#buttonShotgun:hover {
	color: #f0d434;
	border-bottom: 4px solid #f0d434;
}

#winStreakText, #loseStreakText {
	font-size: 200%;
	font-weight: 700;
}

#winStreakText {
	display: none;
	color: #6dc1c4;
}

#loseStreakText {
	display: none;
	color: #666666;
}

.computerBullet {
	float: right;
	margin: 16px 16px 0 0;
}

.playerBullet {
	float: left;
	margin: 16px 0 0 16px;
}

.computerBullet, .playerBullet {
	box-shadow: 0 0 10px 0 #0000007a;
}

.winsText {
	font-weight: 700;
	margin: 16px;
	font-size: 100%;
}

.winsText > span {
	font-size: 150%;
}

.winsTextZeros {
	color: #666666;
}